/*custom fonts*/

/*Digital Disco*/
@font-face {
    font-family: 'Digital Disco';
    src: url('https://cdn.jsdelivr.net/gh/lazykeys/lazykeysBrandingAssets/DigitalDisco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Space Mono Regular*/
@font-face 
{
    font-family: 'Space Mono';
    src: url('https://cdn.jsdelivr.net/gh/lazykeys/lazykeysBrandingAssets/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Space Mono Bold*/
@font-face {
    font-family: 'Space Mono Bold';
    src: url('https://cdn.jsdelivr.net/gh/lazykeys/lazykeysBrandingAssets/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
}
