/*root*/
:root
{
    /*colors*/
    --background_color: #030318;
    --main_color: #615FDB;
    --link_color: #9292ED;
    --text_color: #ececff;
}

html
{
    height: 100%;
    margin: 0;
}

body 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 2.5% 0 0 0;
    background: var(--background_color);
    text-align: center;
    font-family: "Space Mono", monospace;
}

section
{
    flex-grow: 1;
}

/*===== Typography and Links =====*/

h1
{
    color: var(--text_color);
    font-family: "Digital Disco", sans-serif;
    font-weight: lighter;
    font-size: 1.618rem;
    text-align: left;
    margin: 0;
}

a 
{
    color: var(--link_color);
    font-size: 1rem;
    text-decoration: none;
}

li 
{
    font-size: 1rem;
}

/*===== Custom Classes =====*/

/*=== Utility ===*/

.noneList
{
    list-style: none;
    margin: 0;
    padding: 0;
}

/*===== Mobile =====*/
@media (max-width: 767px)
{
    
    /* #region Header Classes */

        /*=== Logo, Name, and Career ===*/
        .headerContainer
        {
            display: flex;
            flex-direction: column;
            padding: 3rem;
            height: 100%;
        }

            .logoNameCareerContainer
            {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

                .lkAnimLogo
                {
                    width: 25rem;
                    padding-top: 0.25rem;
                    margin-bottom: 2rem;
                }

                .name
                {
                    color: var(--text_color);
                    font-family: "Digital Disco", sans-serif;
                    font-size: 2.618rem;
                    margin-bottom: 1rem;
                    white-space: nowrap;
                    text-align: left;
                }

                .career
                {
                    color: var(--text_color);
                    font-family: "Digital Disco", sans-serif;
                    font-size: 1.618rem;
                    text-align: left;
                }

            /*=== Navigation Links ===*/

            .navigationLinksContainer
            {
                width: 100%;
                margin: 1rem 0rem;
                padding: 0;
            }

                .navigationLinksContainer nav ul 
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }

                .navigationLinksContainer li
                {
                    display: flex;
                }

                .navigationLinksContainer a
                {
                    height: 100%;
                }

            /*=== About Me Text ===*/

            .aboutTextContainer
            {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: 60rem;
                max-height: 65vh;
                text-align: left;
                padding: 1rem;
            }

                .aboutTextContainer h1
                {
                    padding-bottom: 1rem;
                }

                .aboutTextContainer ul
                {
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .aboutTextContainer .aboutText
                {
                    color: var(--text_color);
                    text-align: left;
                }
}

/*===== Tablet =====*/
@media (min-width: 768px)
{
    
    /* #region Header Classes */

        /*=== Logo, Name, and Career ===*/
        .headerContainer
        {
            display: flex;
            flex-direction: column;
            padding: 3rem;
            height: 100%;
        }

            .logoNameCareerContainer
            {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

                .lkAnimLogo
                {
                    width: 25rem;
                    padding-top: 0.25rem;
                    margin-bottom: 2rem;
                }

                .name
                {
                    color: var(--text_color);
                    font-family: "Digital Disco", sans-serif;
                    font-size: 2.618rem;
                    margin-bottom: 1rem;
                    white-space: nowrap;
                    text-align: left;
                }

                .career
                {
                    color: var(--text_color);
                    font-family: "Digital Disco", sans-serif;
                    font-size: 1.618rem;
                    text-align: left;
                }

            /*=== Navigation Links ===*/

            .navigationLinksContainer
            {
                width: 100%;
                margin: 1rem 0rem;
                padding: 0;
            }

                .navigationLinksContainer nav ul 
                {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                }

                .navigationLinksContainer li
                {
                    display: flex;
                }

                .navigationLinksContainer a
                {
                    height: 100%;
                }

            /*=== About Me Text ===*/

            .aboutTextContainer
            {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: 60rem;
                max-height: 65vh;
                text-align: left;
                padding: 1rem;
            }

                .aboutTextContainer h1
                {
                    padding-bottom: 1rem;
                }

                .aboutTextContainer ul
                {
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .aboutTextContainer .aboutText
                {
                    color: var(--text_color);
                    text-align: left;
                }
}

/*===== Desktop =====*/
@media (min-width: 1024px)
{

    /* #region Header Classes */

        /*=== Logo, Name, and Career ===*/

        .headerContainer
        {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem;
            padding: 3rem;
            height: 60vh;
        }

            .logoNameCareerContainer
            {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
            }

                .lkAnimLogo
                {
                    width: 25rem;
                    padding-top: 0.25rem;
                    margin-bottom: 2rem;
                }

                .name
                {
                    color: var(--text_color);
                    font-family: "Digital Disco", sans-serif;
                    font-size: 2.618rem;
                    margin-bottom: 1rem;
                    white-space: nowrap;
                    text-align: left;
                }

                .career
                {
                    color: var(--text_color);
                    font-family: "Digital Disco", sans-serif;
                    font-size: 1.618rem;
                    text-align: left;
                }

            /*=== Navigation Links ===*/

            .navigationLinksContainer
            {
                display: flex;
                margin-top: 1rem;
            }

                .navigationLinksContainer nav ul 
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                }

                .navigationLinksContainer li
                {
                    display: flex;
                    text-align: left;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 0.25rem 0rem;
                }

                .navigationLinksContainer a
                {
                    height: 100%;
                }

            /*=== About Me Text ===*/

            .aboutTextContainer
            {
                display: flex;
                flex-direction: column;
                max-width: 60rem;
                max-height: 60vh;
            }

                .aboutTextContainer h1
                {
                    padding-bottom: 1rem;
                }

                .aboutTextContainer ul
                {
                    display: flex;
                    flex-grow: 1;
                    flex-direction: column;
                    justify-content: space-between;
                }

                .aboutTextContainer .aboutText
                {
                    color: var(--text_color);
                    text-align: left;
                }
}

/* #endregion */

/* #region Footer Classes */

    .footerColor
    {
        background-color: var(--main_color);
        height: 5rem;
    }

    .formatSvg
    {
        /*color svg to --main_color*/
        filter: 
            invert(92%)
            sepia(47%)
            saturate(3083%) 
            hue-rotate(180deg) 
            brightness(103%) 
            contrast(112%);

        /*change size*/
        width: 2rem;
    }

    .svgContainer
    {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }
/* #endregion */
