/*custom fonts*/

/*Digital Disco*/
@font-face {
    font-family: 'Digital Disco';
    src: url('https://cdn.jsdelivr.net/gh/lazykeys/lazykeysBrandingAssets/DigitalDisco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Space Mono Regular*/
@font-face {
    font-family: 'Space Mono';
    src: url('https://cdn.jsdelivr.net/gh/lazykeys/lazykeysBrandingAssets/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*root*/
:root {
    /*Default Dark Mode Colors*/
    --background_color: #030318;
    --main_color: #615FDB;
    --link_color: #9292ED;
    --text_color: #ececff;
    --svg_color: brightness(0) saturate(100%) invert(92%) sepia(58%) saturate(5369%) hue-rotate(180deg) brightness(107%) contrast(101%);
}

.enable-theme-transitions * {
    transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease, filter 0.4s ease;
}

.light-mode {
    /*Light Mode Colors*/
    --background_color: #ececff;
    --main_color: #9292ED;
    --link_color: #615FDB;
    --text_color: #030318;
    --svg_color: brightness(0) saturate(100%) invert(41%) sepia(32%) saturate(7496%) hue-rotate(228deg) brightness(92%) contrast(86%);
}

html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    flex-grow: 1;
    background: var(--background_color);
    text-align: center;
    font-family: "Space Mono", monospace;
    color: var(--text_color);
    overflow-x: hidden;
}

.contrast-button-align {
    display: flex;
}

#contrast-button {
    background: none;
    border: none;
    margin: 1rem;
    cursor: pointer;
}

section,
main {
    flex-grow: 1;
}

fieldset {
    border: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
}

label {
    display: block;
    font-family: "Digital Disco", monospace;
    font-weight: lighter;
    font-size: 1.618rem;
}

.label-align {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    margin: 1rem;
}

input[type=submit] {
    border: 5px solid var(--link_color);
    border-radius: 15px;
    background-color: var(--main_color);
    width: 10rem;
    height: 3.5rem;
    font-family: "Digital Disco", monospace;
    font-size: 1.618rem;
    color: var(--text_color);
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

input[type=submit]:hover {
    background-color: var(--text_color);
    color: var(--background_color);
    transition: 0.2s ease;
}

input[type=email],
textarea {
    border: 3px solid var(--link_color);
    border-radius: 15px;
    font-family: "Space Mono", monospace;
    width: 100%;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
}

.hidden {
    display: none;
}

/*===== Typography and Links =====*/

h1 {
    color: var(--text_color);
    font-family: "Digital Disco", monospace;
    font-weight: lighter;
    font-size: 1.618rem;
    text-align: left;
    margin: 0;
}

h2 {
    color: var(--text_color);
    font-family: "Digital Disco", monospace;
    font-weight: lighter;
    font-size: 1rem;
    text-align: left;
    margin: 0;
}

strong {
    font-weight: normal;
    color: var(--link_color);
}

p {
    color: var(--text_color);
}

a {
    color: var(--link_color);
    font-family: "Digital Disco", monospace;
    font-size: 1.309rem;
    text-decoration: underline;
}

.project-link {
    text-decoration: none;
    font-family: "Space Mono", monospace;
    font-size: 1rem;
}

li {
    color: var(--text_color);
}

/*===== Visuals =====*/

.project img {
    width: 80%;
    height: auto;
    border: 5px solid var(--link_color);
    border-radius: 15px;
    margin: 1rem;
}

/*=== Utility ===*/

.empty-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about {
    height: 100%;
}

.about .empty-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    margin-top: 1rem;
    margin-right: 3rem;
}

.inline-link {
    font-size: 1rem;
}

.pdfobject-container {
    margin: 0 auto 3rem auto;
    width: 60%;
    height: 80vh;
    border: 5px solid var(--link_color);
    border-radius: 10px;
}

/* ===== Mobile-First Base ===== */

header {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    height: 100%;
}

.logo {
    width: 100%;
    max-width: 22rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.page-title {
    text-align: center;
    font-size: clamp(48px, 10vw, 82px);
}

.header-name {
    text-align: center;
    font-size: 2.618rem;
    font-family: "Digital Disco", monospace;
    margin-bottom: 0.5rem;
}

.header-career {
    text-align: center;
    font-size: 1.618rem;
    font-family: "Digital Disco", monospace;
    margin-bottom: 0.5rem;
}

.header-statement {
    text-align: center;
    font-size: 1.309rem;
    font-family: "Digital Disco", monospace;
    margin-bottom: 0.5rem;
}

header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    justify-content: center;
}

header nav ul> :last-child {
    grid-column: span 2;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
}

.content-layout {
    display: flex;
    flex-direction: column;
}

.project-gallery {
    display: flex;
    flex-direction: column;
    padding: 0rem;
}

.project {
    border: 5px solid var(--link_color);
    background-color: var(--main_color);
    border-radius: 15px;
    margin: 1rem;
    height: 100%;
}

.project-title {
    color: var(--text_color);
    font-family: "Digital Disco", monospace;
    font-weight: lighter;
    font-size: 1.618rem;
    text-align: center;
    margin: 0;
}

.table-scroll-container {
    overflow-x: scroll;
}

.table-border {
    width: fit-content;
    border: 5px solid var(--link_color);
    border-radius: 15px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border: 5px solid var(--link_color);
    background-color: var(--main_color);
    width: max-content;
    margin: 0;
}

th,
td {
    border: 5px solid var(--link_color);
    padding: 0.5rem
}

th {
    font-family: "Digital Disco";
    font-size: 1.309rem;
}

.email-container,
.textarea-container {
    width: 80%;
    padding-right: 0.5rem;
}

.textarea-container {
    height: 60%;
}

/* ===== Tablet ===== */
@media (min-width: 768px) {

    header {
        padding: 3rem;
        max-width: 70rem;
        margin: auto;
    }

    .table-border {
        margin: 0 auto;
    }

    input[type=submit] {
        margin-bottom: 1rem;
    }

    .logo {
        width: 100%;
        max-width: 22rem;
    }

    .project img {
        width: 60%;
    }

    header nav ul> :last-child {
        grid-column: span 2;
    }

    .table-scroll-container {
        overflow: hidden;
    }

    .label-align {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 20rem;
    }
}


/* ===== Desktop ===== */
@media (min-width: 1024px) {

    body {
        overflow-y: hidden;
    }

    header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 0rem;
    }

    fieldset {
        display: grid;
        gap: 1rem;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        margin-top: 3.5rem;
    }

    fieldset> :last-child {
        grid-column: span 2;
    }

    .logo {
        max-width: 36rem;
    }

    .page-title {
        text-align: left;
        font-size: clamp(48px, 10vw, 82px);
    }

    .header-name {
        text-align: left;
    }

    .header-career {
        text-align: left;
    }

    .header-statement {
        text-align: left;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    footer nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        max-width: 30%;
    }

    .content-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        height: calc(100vh - 7rem);
    }

    .about {
        margin-top: 3rem;
        height: 85%;
    }

    .about .empty-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85%;
        margin-top: 1rem;
    }

    .project {
        transition: transform 0.3s ease;
    }

    .project img {
        width: auto;
        height: auto;
    }

    .project:hover {
        transform: scale(1.05);
    }

    .project-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        height: 100vh;
        row-gap: 2rem;
        box-sizing: border-box;
        padding-bottom: 175px;
    }

    .pdfobject-container {
        height: 75vh;
        width: 45vw;
        border: 5px solid var(--link_color);
        border-radius: 10px;
        margin: 3rem 6rem 0rem 0rem;
    }

    .table-border {
        margin: 3rem 6rem 0rem 0rem;
        overflow: hidden;
    }

    th,
    td {
        padding: 1rem;
    }

    .gradient {
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 150px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--background_color));
    }

    .textarea-container {
        min-height: 20rem;
    }

    .label-align {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        width: 30%;
        height: 30%;
    }
}

/* #region Footer Classes */

footer {
    position: relative;
    background-color: var(--main_color);
    height: 100%;
    width: 100%;
    border-top: 2px solid var(--link_color);
}

.formatSvg {
    /*color svg to --main_color*/
    filter:
        invert(92%) sepia(47%) saturate(3083%) hue-rotate(180deg) brightness(103%) contrast(112%);

    /*change size*/
    width: 2rem;
}

.svg-theme-button {
    /*color svg to --main_color*/
    filter:
        var(--svg_color);

    /*change size*/
    width: 2rem;

    position: fixed;
}

.svg-validation {
    filter: var(--svg_color);
    width: 1.5rem;
}

.svgContainer {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

/* #endregion */