/*root*/
:root
{
    /*colors*/
    --background_color: #030318;
    --main_color: #615FDB;
    --text_color: #ececff;
}

/*html body*/
body 
{
    margin-top: 2.5%;
    margin-bottom: 4%;
    background: #030318;
    text-align: center;
}

/*links*/
a 
{
    font-family: "Space Mono";
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    margin: 1rem, auto;
    color: var(--main_color);
}

/*list items*/
li 
{
    font-family: "Space Mono", monospace;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
}

/*custom classes*/

/* #region Header Classes */

    /*parent flex container for header section */
    .headerContainer
    {
        display: flex;
        height: 60vh;
        justify-content: space-between;
        gap: 1.5rem;
        padding: 1.5rem;
    }
        /*flex container for logo, name, career, and navigation links*/
        .logoNameCareerLinksContainer
        {
            display: flex;
            flex-direction: column;
        }

        /*flex container for logo, name, and career in header*/
        .logoNameCareerContainer
        {
            display: flex;
            flex-direction: column;
        }

            /*lazykeys animated logo*/
            .lkAnimLogo
            {
                width: 25rem;
                margin-bottom: 5%;
            }

            /*noneList class for ul of name and career*/
            .noneList
            {
                list-style-type: none;
                padding-left: 0%;
            }

            /*name and career items in noneList ul class*/
            .noneList li
            {
                text-align: left;
            }

            /*name item in noneList ul class*/
            .noneList .name
            {
                color: var(--text_color);
                font-family: "Digital Disco";
                font-size: 2.618rem;
                margin-bottom: 1rem;
                white-space: nowrap;
            }

            /*career item in noneList ul class*/
            .noneList .career
            {
                color: var(--text_color);
                font-family: "Digital Disco";
                font-size: 1.618rem;
            }

            nav .noneList li
            {
                margin-bottom: 1rem;
            }

        /*flex container for about me text*/
        .aboutTextContainer
        {
            display: flex;
            flex-direction: column;
            max-width: 60rem;
        }
        
            /*ul flex container holding aboutMeText*/
            .aboutTextContainer .noneList
            {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                
                /*margin and padding for ul*/
                margin: 0;
                padding: 0;
            }

            /*actual text in aboutTextContainer flex container*/
            .aboutTextContainer .noneList .aboutMeText
            {
                color: var(--text_color);
                flex-grow: 1;
            }

/* #endregion */

/* #region Footer Classes */

    footer
    {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;

    }

    .formatSvg
    {
        /*color svg to --main_color*/
        filter: 
            invert(92%)
            sepia(47%)
            saturate(3083%) 
            hue-rotate(180deg) 
            brightness(103%) 
            contrast(112%);

        /*change size*/
        width: 2rem;
    }

    .footerColor
    {
        background-color: var(--main_color);
        height: 5rem;
    }

    .svgContainer
    {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
    }
/* #endregion */
