/*root*/
:root
{
    /*colors*/
    --background_color: #030318;
    --main_color: #615FDB;
    --text_color: #ececff;
}

/*html body*/
body 
{
    margin-top: 2.5%;
    margin-bottom: 4%;
    background: #030318;
    text-align: center;
}

/*links*/
a 
{
    font-family: "Space Mono";
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    margin: 1rem, auto;
    color: var(--main_color);
}

/*list items*/
li 
{
    font-family: "Space Mono", monospace;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
}

/*horizontal line*/
hr 
{
    border: none;
    border-radius: 2px;
    width: 75rem;
    height: 5px;
    background-color: #2E2E8C;
}

/*custom classes*/

/* #region Header Classes */

    /*parent flex container for header section */
    .headerContainer
    {
        display: flex;
        border: 1px solid red;
        height: 60vh;
    }
        /*flex container for logo, name, and career in header*/
        .logoNameCareerContainer
        {
            display: flex;
            border: 1px solid green;
            flex-direction: column;
            flex-grow: 1;
            padding-right: 25%;
        }

            /*lazykeys animated logo*/
            .lkAnimLogo
            {
                width: 150%;
                margin-bottom: 5%;
            }

            /*noneList class for ul of name and career*/
            .noneList
            {
                list-style-type: none;
                padding-left: 0%;
            }

            /*name and career items in noneList ul class*/
            .noneList li
            {
                text-align: left;
            }

            /*name item in noneList ul class*/
            .noneList .name
            {
                color: var(--text_color);
                font-family: "Digital Disco";
                font-size: 2.618rem;
            }

            /*career item in noneList ul class*/
            .noneList .career
            {
                color: var(--text_color);
                font-family: "Digital Disco";
                font-size: 1.618rem;
            }

        /*flex container for about me text*/
        .aboutTextContainer
        {
            display: flex;
            border: 1px solid yellow;
            flex-direction: column;
        }
        
        /*ul flex container holding aboutMeText*/
        .aboutTextContainer .noneList
        {
            display: flex;
            border: 1px solid purple;
            flex-direction: column;
            flex-grow: 1;
            
            /*margin and padding for ul*/
            margin: 0;
            padding: 0;
        }

            /*actual text in aboutTextContainer flex container*/
            .aboutTextContainer .noneList .aboutMeText
            {
                color: var(--text_color);
                flex-grow: 1;
            }

/* #endregion */
