/*custom fonts*/

/*Digital Disco*/
@font-face {
    font-family: 'Digital Disco';
    src: url('https://cdn.jsdelivr.net/gh/lazykeys/lazykeysBrandingAssets/DigitalDisco.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Space Mono Regular*/
@font-face 
{
    font-family: 'Space Mono';
    src: url('https://cdn.jsdelivr.net/gh/lazykeys/lazykeysBrandingAssets/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Space Mono Bold*/
@font-face {
    font-family: 'Space Mono Bold';
    src: url('https://cdn.jsdelivr.net/gh/lazykeys/lazykeysBrandingAssets/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
}

/*root*/
:root
{
    /*colors*/
    --background_color: #030318;
    --main_color: #615FDB;
    --link_color: #9292ED;
    --text_color: #ececff;
}

html
{
    height: 100%;
    margin: 0;
}

body 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 2.5% 0 0 0;
    background: var(--background_color);
    text-align: center;
    font-family: "Space Mono", monospace;
}

section
{
    flex-grow: 1;
}

/*===== Typography and Links =====*/

h1
{
    color: var(--text_color);
    font-family: "Digital Disco", sans-serif;
    font-weight: lighter;
    font-size: 1.618rem;
    text-align: left;
    margin: 0;
}

h2
{
    color: var(--text_color);
    font-family: "Digital Disco", sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    text-align: left;
    margin: 0;
}

a 
{
    color: var(--link_color);
    font-size: 1rem;
    text-decoration: underline;
}

li 
{
    font-size: 1rem;
    color: var(--text_color);
}

/*===== Custom Classes =====*/

/*=== Utility ===*/

.empty-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.about .empty-list
{
    justify-content: space-evenly;
}

/* ===== Mobile-First Base ===== */

header 
{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.logo 
{
    width: 100%;
    max-width: 16rem;
    margin-bottom: 1.5rem;
}

.header-name
{
    font-size: 1.618rem;
    font-family: "Digital Disco", monospace;
}

.header-career
{
    font-size: 1rem;
    font-family: "Digital Disco", monospace;
}

nav ul 
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto, auto;
    gap: 0.5rem;
    justify-items: center;
}

.about 
{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;
}

/* ===== Tablet ===== */
@media (min-width: 768px) 
{
    header 
    {
        padding: 3rem;
        max-width: 70rem;
        margin: auto;
    }

    .logo {
        max-width: 22rem;
    }
}


/* ===== Desktop ===== */
@media (min-width: 1024px) 
{
    header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 0rem;
    }

    .logo
    {
        width: auto;
    }

    nav ul 
    {
        flex-direction: column;
        align-items: flex-start;
    }

    .content-layout
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto, auto;
    }
}

/* #region Footer Classes */

    footer
    {
        background-color: var(--main_color);
        height: 5rem;
    }

    .formatSvg
    {
        /*color svg to --main_color*/
        filter: 
            invert(92%)
            sepia(47%)
            saturate(3083%) 
            hue-rotate(180deg) 
            brightness(103%) 
            contrast(112%);

        /*change size*/
        width: 2rem;
    }

    .svgContainer
    {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        align-content: center;
    }
/* #endregion */
